{% extends "core/base.html" %}

{% block content %}<br>


<div class="container">
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            <div class="col">
            <button type="submit" class="btn btn-primary" name="movies" value="movies">Scrap Movies</button>
            </div><br>
            <div class="col">
                <button type="submit" class="btn btn-secondary" name="shows" value="shows">Scrap Shows</button>

            </div>
        </form>
    </div>
</div>
<br>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}